set_location count_RNO[0] 32 11 0 # SB_LUT4 (LogicCell: count[0]_LC_0)
set_location count[0] 32 11 0 # SB_DFF (LogicCell: count[0]_LC_0)
set_location count_cry_c[0] 32 11 0 # SB_CARRY (LogicCell: count[0]_LC_0)
set_location count_RNO[1] 32 11 1 # SB_LUT4 (LogicCell: count[1]_LC_1)
set_location count[1] 32 11 1 # SB_DFF (LogicCell: count[1]_LC_1)
set_location count_cry_c[1] 32 11 1 # SB_CARRY (LogicCell: count[1]_LC_1)
set_location count_RNO[10] 32 12 2 # SB_LUT4 (LogicCell: count[10]_LC_2)
set_location count[10] 32 12 2 # SB_DFF (LogicCell: count[10]_LC_2)
set_location count_cry_c[10] 32 12 2 # SB_CARRY (LogicCell: count[10]_LC_2)
set_location count_RNO[11] 32 12 3 # SB_LUT4 (LogicCell: count[11]_LC_3)
set_location count[11] 32 12 3 # SB_DFF (LogicCell: count[11]_LC_3)
set_location count_cry_c[11] 32 12 3 # SB_CARRY (LogicCell: count[11]_LC_3)
set_location count_RNO[12] 32 12 4 # SB_LUT4 (LogicCell: count[12]_LC_4)
set_location count[12] 32 12 4 # SB_DFF (LogicCell: count[12]_LC_4)
set_location count_cry_c[12] 32 12 4 # SB_CARRY (LogicCell: count[12]_LC_4)
set_location count_RNO[13] 32 12 5 # SB_LUT4 (LogicCell: count[13]_LC_5)
set_location count[13] 32 12 5 # SB_DFF (LogicCell: count[13]_LC_5)
set_location count_cry_c[13] 32 12 5 # SB_CARRY (LogicCell: count[13]_LC_5)
set_location count_RNO[14] 32 12 6 # SB_LUT4 (LogicCell: count[14]_LC_6)
set_location count[14] 32 12 6 # SB_DFF (LogicCell: count[14]_LC_6)
set_location count_cry_c[14] 32 12 6 # SB_CARRY (LogicCell: count[14]_LC_6)
set_location count_RNO[15] 32 12 7 # SB_LUT4 (LogicCell: count[15]_LC_7)
set_location count[15] 32 12 7 # SB_DFF (LogicCell: count[15]_LC_7)
set_location count_cry_c[15] 32 12 7 # SB_CARRY (LogicCell: count[15]_LC_7)
set_location count_RNO[16] 32 13 0 # SB_LUT4 (LogicCell: count[16]_LC_8)
set_location count[16] 32 13 0 # SB_DFF (LogicCell: count[16]_LC_8)
set_location count_cry_c[16] 32 13 0 # SB_CARRY (LogicCell: count[16]_LC_8)
set_location count_RNO[17] 32 13 1 # SB_LUT4 (LogicCell: count[17]_LC_9)
set_location count[17] 32 13 1 # SB_DFF (LogicCell: count[17]_LC_9)
set_location count_cry_c[17] 32 13 1 # SB_CARRY (LogicCell: count[17]_LC_9)
set_location count_RNO[18] 32 13 2 # SB_LUT4 (LogicCell: count[18]_LC_10)
set_location count[18] 32 13 2 # SB_DFF (LogicCell: count[18]_LC_10)
set_location count_cry_c[18] 32 13 2 # SB_CARRY (LogicCell: count[18]_LC_10)
set_location count_RNO[19] 32 13 3 # SB_LUT4 (LogicCell: count[19]_LC_11)
set_location count[19] 32 13 3 # SB_DFF (LogicCell: count[19]_LC_11)
set_location count_cry_c[19] 32 13 3 # SB_CARRY (LogicCell: count[19]_LC_11)
set_location count_RNO[2] 32 11 2 # SB_LUT4 (LogicCell: count[2]_LC_12)
set_location count[2] 32 11 2 # SB_DFF (LogicCell: count[2]_LC_12)
set_location count_cry_c[2] 32 11 2 # SB_CARRY (LogicCell: count[2]_LC_12)
set_location count_RNO[20] 32 13 4 # SB_LUT4 (LogicCell: count[20]_LC_13)
set_location count[20] 32 13 4 # SB_DFF (LogicCell: count[20]_LC_13)
set_location count_cry_c[20] 32 13 4 # SB_CARRY (LogicCell: count[20]_LC_13)
set_location count_RNO[21] 32 13 5 # SB_LUT4 (LogicCell: count[21]_LC_14)
set_location count[21] 32 13 5 # SB_DFF (LogicCell: count[21]_LC_14)
set_location count_cry_c[21] 32 13 5 # SB_CARRY (LogicCell: count[21]_LC_14)
set_location count_RNO[22] 32 13 6 # SB_LUT4 (LogicCell: count[22]_LC_15)
set_location count[22] 32 13 6 # SB_DFF (LogicCell: count[22]_LC_15)
set_location count_RNO[3] 32 11 3 # SB_LUT4 (LogicCell: count[3]_LC_16)
set_location count[3] 32 11 3 # SB_DFF (LogicCell: count[3]_LC_16)
set_location count_cry_c[3] 32 11 3 # SB_CARRY (LogicCell: count[3]_LC_16)
set_location count_RNO[4] 32 11 4 # SB_LUT4 (LogicCell: count[4]_LC_17)
set_location count[4] 32 11 4 # SB_DFF (LogicCell: count[4]_LC_17)
set_location count_cry_c[4] 32 11 4 # SB_CARRY (LogicCell: count[4]_LC_17)
set_location count_RNO[5] 32 11 5 # SB_LUT4 (LogicCell: count[5]_LC_18)
set_location count[5] 32 11 5 # SB_DFF (LogicCell: count[5]_LC_18)
set_location count_cry_c[5] 32 11 5 # SB_CARRY (LogicCell: count[5]_LC_18)
set_location count_RNO[6] 32 11 6 # SB_LUT4 (LogicCell: count[6]_LC_19)
set_location count[6] 32 11 6 # SB_DFF (LogicCell: count[6]_LC_19)
set_location count_cry_c[6] 32 11 6 # SB_CARRY (LogicCell: count[6]_LC_19)
set_location count_RNO[7] 32 11 7 # SB_LUT4 (LogicCell: count[7]_LC_20)
set_location count[7] 32 11 7 # SB_DFF (LogicCell: count[7]_LC_20)
set_location count_cry_c[7] 32 11 7 # SB_CARRY (LogicCell: count[7]_LC_20)
set_location count_RNO[8] 32 12 0 # SB_LUT4 (LogicCell: count[8]_LC_21)
set_location count[8] 32 12 0 # SB_DFF (LogicCell: count[8]_LC_21)
set_location count_cry_c[8] 32 12 0 # SB_CARRY (LogicCell: count[8]_LC_21)
set_location count_RNO[9] 32 12 1 # SB_LUT4 (LogicCell: count[9]_LC_22)
set_location count[9] 32 12 1 # SB_DFF (LogicCell: count[9]_LC_22)
set_location count_cry_c[9] 32 12 1 # SB_CARRY (LogicCell: count[9]_LC_22)
set_location toggle_RNO 31 11 2 # SB_LUT4 (LogicCell: toggle_LC_23)
set_location toggle 31 11 2 # SB_DFF (LogicCell: toggle_LC_23)
set_location toggle_RNO_0 31 12 6 # SB_LUT4 (LogicCell: toggle_RNO_0_LC_24)
set_location toggle_RNO_1 31 12 5 # SB_LUT4 (LogicCell: toggle_RNO_1_LC_25)
set_location toggle_RNO_2 31 11 1 # SB_LUT4 (LogicCell: toggle_RNO_2_LC_26)
set_location toggle_RNO_3 31 12 3 # SB_LUT4 (LogicCell: toggle_RNO_3_LC_27)
set_location toggle_RNO_4 31 12 1 # SB_LUT4 (LogicCell: toggle_RNO_4_LC_28)
set_location toggle_RNO_5 31 11 0 # SB_LUT4 (LogicCell: toggle_RNO_5_LC_29)
set_location toggle_RNO_6 31 11 5 # SB_LUT4 (LogicCell: toggle_RNO_6_LC_30)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 33 16 1 # ICE_GB_IO
set_io led0_obuf 33 4 0 # ICE_IO
set_io led1_obuf 33 5 0 # ICE_IO
set_io led2_obuf 33 3 1 # ICE_IO
set_io led3_obuf 33 4 1 # ICE_IO
set_io led4_obuf 33 6 0 # ICE_IO
set_io led5_obuf 33 6 1 # ICE_IO
set_io led6_obuf 33 11 0 # ICE_IO
set_io led7_obuf 33 14 1 # ICE_IO
