BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "23" ;
LOCATE COMP "led0" SITE "6" ;
LOCATE COMP "led1" SITE "7" ;
LOCATE COMP "led2" SITE "8" ;
LOCATE COMP "led3" SITE "9" ;
LOCATE COMP "led4" SITE "10" ;
LOCATE COMP "led5" SITE "11" ;
LOCATE COMP "led6" SITE "12" ;
LOCATE COMP "led7" SITE "13" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 SLEWRATE=FAST CLAMP=OFF DRIVE=8 PULLMODE=UP OPENDRAIN=OFF ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 DRIVE=8 CLAMP=OFF PULLMODE=UP SLEWRATE=FAST ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "led4" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "led5" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "led6" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "led7" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=8 ;
FREQUENCY PORT "clk" 26.000000 MHz ;
LOCATE COMP "trigger_p" SITE "43" ;
LOCATE COMP "trigger_n" SITE "52" ;
IOBUF PORT "trigger_p" IO_TYPE=LVCMOS33 SLEWRATE=NA CLAMP=ON PULLMODE=DOWN HYSTERESIS=SMALL OPENDRAIN=OFF ;
FREQUENCY PORT "trigger_p" 8.000000 MHz CLOCK_JITTER 0.010000 ns ;
IOBUF PORT "trigger_n" IO_TYPE=LVCMOS33 ;
OUTPUT PORT "led0" LOAD 100.000000 pF ;
OUTPUT PORT "led1" LOAD 100.000000 pF ;
OUTPUT PORT "led2" LOAD 100.000000 pF ;
OUTPUT PORT "led3" LOAD 100.000000 pF ;
OUTPUT PORT "led4" LOAD 100.000000 pF ;
OUTPUT PORT "led5" LOAD 100.000000 pF ;
OUTPUT PORT "led6" LOAD 100.000000 pF ;
OUTPUT PORT "led7" LOAD 100.000000 pF ;
SSO PORT "led0"  SSO_Noise=0 ;
MAXSKEW PORT "led0" 0.100000 ns ;
MAXSKEW PORT "led1" 0.100000 ns ;
MAXSKEW PORT "led2" 0.100000 ns ;
MAXSKEW PORT "led3" 0.100000 ns ;
MAXSKEW PORT "led4" 0.100000 ns ;
MAXSKEW PORT "led5" 0.100000 ns ;
MAXSKEW PORT "led6" 0.100000 ns ;
MAXSKEW PORT "led7" 0.100000 ns ;
USE PRIMARY NET "clk_c" ;
