#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY PORT "clk" 166.2 MHz;
#FREQUENCY PORT "trigger" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "trigger_c" TO CLKNET "clk_c";
#BLOCK PATH FROM CLKNET "clk_c" TO CLKNET "trigger_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
