set_location IN_MUX_bfv_30_12_0_ 30 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_13_0_ 30 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_14_0_ 30 14 0 #ICE_CARRY_IN_MUX
set_location toggle_RNO_6 31 13 5 #SB_LUT4
set_location toggle_RNO_5 31 13 6 #SB_LUT4
set_location toggle_RNO_4 31 13 1 #SB_LUT4
set_location toggle_RNO_3 31 12 3 #SB_LUT4
set_location toggle_RNO_2 31 13 7 #SB_LUT4
set_location toggle_RNO_1 31 13 2 #SB_LUT4
set_location toggle_RNO_0 30 14 7 #SB_LUT4
set_location toggle_RNO 31 13 3 #SB_LUT4
set_location toggle 31 13 3 #SB_DFF
set_location count_cry_c[9] 30 13 1 #SB_CARRY
set_location count_cry_c[8] 30 13 0 #SB_CARRY
set_location count_cry_c[7] 30 12 7 #SB_CARRY
set_location count_cry_c[6] 30 12 6 #SB_CARRY
set_location count_cry_c[5] 30 12 5 #SB_CARRY
set_location count_cry_c[4] 30 12 4 #SB_CARRY
set_location count_cry_c[3] 30 12 3 #SB_CARRY
set_location count_cry_c[20] 30 14 4 #SB_CARRY
set_location count_cry_c[2] 30 12 2 #SB_CARRY
set_location count_cry_c[19] 30 14 3 #SB_CARRY
set_location count_cry_c[18] 30 14 2 #SB_CARRY
set_location count_cry_c[17] 30 14 1 #SB_CARRY
set_location count_cry_c[16] 30 14 0 #SB_CARRY
set_location count_cry_c[15] 30 13 7 #SB_CARRY
set_location count_cry_c[14] 30 13 6 #SB_CARRY
set_location count_cry_c[13] 30 13 5 #SB_CARRY
set_location count_cry_c[12] 30 13 4 #SB_CARRY
set_location count_cry_c[11] 30 13 3 #SB_CARRY
set_location count_cry_c[10] 30 13 2 #SB_CARRY
set_location count_cry_c[1] 30 12 1 #SB_CARRY
set_location count_cry_c[0] 30 12 0 #SB_CARRY
set_location count_RNO[9] 30 13 1 #SB_LUT4
set_location count_RNO[8] 30 13 0 #SB_LUT4
set_location count_RNO[7] 30 12 7 #SB_LUT4
set_location count_RNO[6] 30 12 6 #SB_LUT4
set_location count_RNO[5] 30 12 5 #SB_LUT4
set_location count_RNO[4] 30 12 4 #SB_LUT4
set_location count_RNO[3] 30 12 3 #SB_LUT4
set_location count_RNO[21] 30 14 5 #SB_LUT4
set_location count_RNO[20] 30 14 4 #SB_LUT4
set_location count_RNO[2] 30 12 2 #SB_LUT4
set_location count_RNO[19] 30 14 3 #SB_LUT4
set_location count_RNO[18] 30 14 2 #SB_LUT4
set_location count_RNO[17] 30 14 1 #SB_LUT4
set_location count_RNO[16] 30 14 0 #SB_LUT4
set_location count_RNO[15] 30 13 7 #SB_LUT4
set_location count_RNO[14] 30 13 6 #SB_LUT4
set_location count_RNO[13] 30 13 5 #SB_LUT4
set_location count_RNO[12] 30 13 4 #SB_LUT4
set_location count_RNO[11] 30 13 3 #SB_LUT4
set_location count_RNO[10] 30 13 2 #SB_LUT4
set_location count_RNO[1] 30 12 1 #SB_LUT4
set_location count_RNO[0] 30 12 0 #SB_LUT4
set_location count[9] 30 13 1 #SB_DFF
set_location count[8] 30 13 0 #SB_DFF
set_location count[7] 30 12 7 #SB_DFF
set_location count[6] 30 12 6 #SB_DFF
set_location count[5] 30 12 5 #SB_DFF
set_location count[4] 30 12 4 #SB_DFF
set_location count[3] 30 12 3 #SB_DFF
set_location count[21] 30 14 5 #SB_DFF
set_location count[20] 30 14 4 #SB_DFF
set_location count[2] 30 12 2 #SB_DFF
set_location count[19] 30 14 3 #SB_DFF
set_location count[18] 30 14 2 #SB_DFF
set_location count[17] 30 14 1 #SB_DFF
set_location count[16] 30 14 0 #SB_DFF
set_location count[15] 30 13 7 #SB_DFF
set_location count[14] 30 13 6 #SB_DFF
set_location count[13] 30 13 5 #SB_DFF
set_location count[12] 30 13 4 #SB_DFF
set_location count[11] 30 13 3 #SB_DFF
set_location count[10] 30 13 2 #SB_DFF
set_location count[1] 30 12 1 #SB_DFF
set_location count[0] 30 12 0 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io led7 F10
set_io led6 G11
set_io led5 G10
set_io led4 H11
set_io led3 H10
set_io led2 J11
set_io led1 J10
set_io led0 K11
set_io clk F11
