set_location IN_MUX_bfv_32_11_0_ 32 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_12_0_ 32 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_32_13_0_ 32 13 0 #ICE_CARRY_IN_MUX
set_location toggle_RNO_6 31 11 5 #SB_LUT4
set_location toggle_RNO_5 31 11 0 #SB_LUT4
set_location toggle_RNO_4 31 12 1 #SB_LUT4
set_location toggle_RNO_3 31 12 3 #SB_LUT4
set_location toggle_RNO_2 31 11 1 #SB_LUT4
set_location toggle_RNO_1 31 12 5 #SB_LUT4
set_location toggle_RNO_0 31 12 6 #SB_LUT4
set_location toggle_RNO 31 11 2 #SB_LUT4
set_location toggle 31 11 2 #SB_DFF
set_location count_cry_c[9] 32 12 1 #SB_CARRY
set_location count_cry_c[8] 32 12 0 #SB_CARRY
set_location count_cry_c[7] 32 11 7 #SB_CARRY
set_location count_cry_c[6] 32 11 6 #SB_CARRY
set_location count_cry_c[5] 32 11 5 #SB_CARRY
set_location count_cry_c[4] 32 11 4 #SB_CARRY
set_location count_cry_c[3] 32 11 3 #SB_CARRY
set_location count_cry_c[21] 32 13 5 #SB_CARRY
set_location count_cry_c[20] 32 13 4 #SB_CARRY
set_location count_cry_c[2] 32 11 2 #SB_CARRY
set_location count_cry_c[19] 32 13 3 #SB_CARRY
set_location count_cry_c[18] 32 13 2 #SB_CARRY
set_location count_cry_c[17] 32 13 1 #SB_CARRY
set_location count_cry_c[16] 32 13 0 #SB_CARRY
set_location count_cry_c[15] 32 12 7 #SB_CARRY
set_location count_cry_c[14] 32 12 6 #SB_CARRY
set_location count_cry_c[13] 32 12 5 #SB_CARRY
set_location count_cry_c[12] 32 12 4 #SB_CARRY
set_location count_cry_c[11] 32 12 3 #SB_CARRY
set_location count_cry_c[10] 32 12 2 #SB_CARRY
set_location count_cry_c[1] 32 11 1 #SB_CARRY
set_location count_cry_c[0] 32 11 0 #SB_CARRY
set_location count_RNO[9] 32 12 1 #SB_LUT4
set_location count_RNO[8] 32 12 0 #SB_LUT4
set_location count_RNO[7] 32 11 7 #SB_LUT4
set_location count_RNO[6] 32 11 6 #SB_LUT4
set_location count_RNO[5] 32 11 5 #SB_LUT4
set_location count_RNO[4] 32 11 4 #SB_LUT4
set_location count_RNO[3] 32 11 3 #SB_LUT4
set_location count_RNO[22] 32 13 6 #SB_LUT4
set_location count_RNO[21] 32 13 5 #SB_LUT4
set_location count_RNO[20] 32 13 4 #SB_LUT4
set_location count_RNO[2] 32 11 2 #SB_LUT4
set_location count_RNO[19] 32 13 3 #SB_LUT4
set_location count_RNO[18] 32 13 2 #SB_LUT4
set_location count_RNO[17] 32 13 1 #SB_LUT4
set_location count_RNO[16] 32 13 0 #SB_LUT4
set_location count_RNO[15] 32 12 7 #SB_LUT4
set_location count_RNO[14] 32 12 6 #SB_LUT4
set_location count_RNO[13] 32 12 5 #SB_LUT4
set_location count_RNO[12] 32 12 4 #SB_LUT4
set_location count_RNO[11] 32 12 3 #SB_LUT4
set_location count_RNO[10] 32 12 2 #SB_LUT4
set_location count_RNO[1] 32 11 1 #SB_LUT4
set_location count_RNO[0] 32 11 0 #SB_LUT4
set_location count[9] 32 12 1 #SB_DFF
set_location count[8] 32 12 0 #SB_DFF
set_location count[7] 32 11 7 #SB_DFF
set_location count[6] 32 11 6 #SB_DFF
set_location count[5] 32 11 5 #SB_DFF
set_location count[4] 32 11 4 #SB_DFF
set_location count[3] 32 11 3 #SB_DFF
set_location count[22] 32 13 6 #SB_DFF
set_location count[21] 32 13 5 #SB_DFF
set_location count[20] 32 13 4 #SB_DFF
set_location count[2] 32 11 2 #SB_DFF
set_location count[19] 32 13 3 #SB_DFF
set_location count[18] 32 13 2 #SB_DFF
set_location count[17] 32 13 1 #SB_DFF
set_location count[16] 32 13 0 #SB_DFF
set_location count[15] 32 12 7 #SB_DFF
set_location count[14] 32 12 6 #SB_DFF
set_location count[13] 32 12 5 #SB_DFF
set_location count[12] 32 12 4 #SB_DFF
set_location count[11] 32 12 3 #SB_DFF
set_location count[10] 32 12 2 #SB_DFF
set_location count[1] 32 11 1 #SB_DFF
set_location count[0] 32 11 0 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io led7 F10
set_io led6 G11
set_io led5 G10
set_io led4 H11
set_io led3 H10
set_io led2 J11
set_io led1 J10
set_io led0 K11
set_io clk F11
